.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 15px;

  ~ .inputPlaceholder {
    position: relative;
    top: 0;
    font-size: 16px;
    color: #2F80ED;
    padding: 0;
    font-weight: 700;
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin: 15px 0 35px 0;
  cursor: pointer;
  width: 100%;
  max-width: 352px;
}